/* PROMOTIONS */
.promotions {
	border-bottom: 1px solid #ebebeb;
}
.promotions .row > div + div .promotions__item {
	border-left: 1px solid #ebebeb;
}
.promotions__item {
	display: block;
	height: 100%;
	padding: 60px 40px;
}
.promotions__item-img {
	height: 80px;
	margin-bottom: 15px;
}
.promotions__item-name {
	margin-bottom: 15px;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	color: #231f20;
}
.promotions__item-text {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 26px;
	color: #231f20;
}
.promotions__item:hover .promotions__item-name {
	color: #4296b7;
}



/* PROMOTIONS SCHOLARSHIP */
.promotions__scholarship {
	padding-top: 100px;
}
.promotions__block + .promotions__block {
	margin-top: 100px;
}
.promotions__block + .promotions__block--spec-top {
	margin-top: 0;
}
.promotions__top-text {
	font-weight: 300;
	font-size: 36px;
	line-height: 56px;
}
.promotions__top-text a:hover {
	text-decoration: underline;
}
.promotions__top-text span {
	font-weight: 500;
}
.promotions__block-header {
	margin-bottom: 60px;
	font-weight: 700;
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;
}
.promotions__personal-card-img {
	margin-bottom: 25px;
}
.promotions__personal-card-name {
	margin-bottom: 15px;
	font-weight: 500;
	font-size: 24px;
	line-height: 24px;
}
.promotions__personal-card-univer {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 26px;
}
.promotions__personal-card-univer a {
	display: inline-block;
}

.promotions__circle-block + .promotions__circle-block {
	margin-top: 25px;
}
.promotions__circle-block-left {
	width: 32px;
	height: 32px;
	margin-right: 15px;
	border-radius: 100%;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	color: #fff;
}
.promotions__circle-block-left svg g {
	fill: #fff;
}
.promotions__circle-block--num .promotions__circle-block-left {
	background: #cc2527;
}
.promotions__circle-block--check .promotions__circle-block-left {
	background: #6adb92;
}
.promotions__circle-block-right {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 26px;
}

.promotions__application-text {
	margin-bottom: 25px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 26px;
}
.promotions__application-form {
	display: block;
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	color: #4296b7;
}
.promotions__application-form:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 40px;
	margin-right: 15px;
	background: url('../img/pdf-ico.svg') center center no-repeat;
	background-size: contain;
}
.promotions__application-text--big {
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
}
.promotions__selection {
	margin-bottom: 60px;
}



/* PROMOTIONS EVENT */
.promotions__event {
	padding-top: 100px;
}
.promotions__event-top-text {
	margin-top: 40px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 30px;
}
.promotions__event-gray-text {
	margin-bottom: 25px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 26px;
	color: #a1a3a6;
}



/* PROMOTIONS PROJECT */
.promotions__project {
	padding-top: 100px;
}
.promotions__tiers-item {
	max-width: 400px;
	margin: 0 auto 40px auto;
}
.promotions__tiers-item-img {
	margin-bottom: 30px;
}
.promotions__tiers-item-name {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 24px;
	line-height: 24px;
}
.promotions__tiers-item-percent {
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 18px;
	line-height: 18px;
}
.promotions__tiers-item-text {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 26px;
}
.promotions__tiers-bottom-text {
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
}
.promotions__tiers-bottom-text span {
	font-weight: 500;
}

.promotions__block-header--min-mar {
	margin-bottom: 20px;
}
.promotions__block-header-subtext {
	margin-bottom: 60px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 26px;
}

.promotions__guide-item-img {
	margin-bottom: 30px;
}
.promotions__guide-item-name {
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
}
.promotions__guide-item-text ul,
.promotions__guide-item-text li {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 26px;
}
.promotions__guide-item-text ul {
	padding-left: 15px;
}
.promotions__guide-item-text p {
	margin-bottom: 30px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 26px;
}
.promotions__guide-item-text p b {
	display: block;
}



/* PROMOTIONS QUANITITY */
.promotions__quanitity {
	font-weight: 300;
	font-size: 24px;
	line-height: 36px;
}



@media (max-width: 1679px) {
    
}
@media (max-width: 1519px) {
	/* PROMOTIONS */
	.promotions__item {
		padding: 30px 15px;
	}
}
@media (max-width: 1199px) {
	/* PROMOTIONS */
	.promotions .row > div + div .promotions__item {
		border-left: none;
	}
	.promotions .row > div:nth-child(even) .promotions__item {
		border-left: 1px solid #ebebeb;
	}
	.promotions .row > div:first-child .promotions__item,
	.promotions .row > div:first-child + div .promotions__item {
		border-bottom: 1px solid #ebebeb;
	}

	
	/* PROMOTIONS PROJECT */
	.promotions__guide-item {
		margin-bottom: 40px;
	}
}
@media (max-width: 991px) {
	/* PROMOTIONS SCHOLARSHIP */
	.promotions__scholarship {
		padding-top: 30px;
	}
	.promotions__block + .promotions__block {
		margin-top: 40px;
	}
	.promotions__top-text {
		font-size: 24px;
		line-height: 36px;
	}
	.promotions__block-header {
		margin-bottom: 30px;
		font-size: 24px;
		line-height: 24px;
	}
	.promotions__personal-card {
		margin-bottom: 25px;
	}
	.promotions__personal-card-img {
		margin-bottom: 20px;
	}
	.promotions__personal-card-name {
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 18px;
	}
	.promotions__personal-card-univer {
		font-size: 14px;
		line-height: 22px;
	}
	.promotions__circle-block {
		margin-bottom: 15px;
	}
	.promotions__circle-block + .promotions__circle-block {
		margin-top: 0;
	}
	.promotions__circle-block-right {
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		line-height: 22px;
	}
	.promotions__application-left {
		margin-bottom: 25px;
	}
	.promotions__application-text {
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 22px;
	}
	.promotions__application-form {
		margin-bottom: 24px;
		font-size: 14px;
		line-height: 14px;
	}
	.promotions__application-text--big {
		font-size: 16px;
		line-height: 16px;
	}
	.promotions__selection {
		margin-bottom: 40px;
	}


	/* PROMOTIONS EVENT */
	.promotions__event {
		padding-top: 30px;
	}
	.promotions__event-top-text {
		margin-top: 30px;
		font-size: 16px;
		line-height: 24px;
	}
	.promotions__event-gray-text {
		margin-bottom: 15px;
		font-size: 14px;
		line-height: 22px;
	}


	/* PROMOTIONS PROJECT */
	.promotions__project {
		padding-top: 30px;
	}
	.promotions__tiers-item {
		max-width: 600px;
	}
	.promotions__tiers-item-img {
	    margin-bottom: 20px;
	}
	.promotions__tiers-item-name {
	    margin-bottom: 10px;
	}
	.promotions__tiers-item-percent {
	    margin-bottom: 10px;
	}
	.promotions__tiers-item-text {
	    font-size: 14px;
	    line-height: 22px;
	}
	.promotions__tiers-bottom-text {
		margin-bottom: 80px;
	}
	.promotions__block-header-subtext {
	    margin-bottom: 40px;
	    font-size: 14px;
	    line-height: 22px;
	}
	.promotions__block-header-subtext br {
		display: none;
	}
	.promotions__guide-item {
		max-width: 600px;
		margin: 0 auto 40px auto;
	}
	.promotions__guide-item-img {
		margin-bottom: 20px;
		text-align: center;
	}
	.promotions__guide-item-name {
		font-size: 18px;
		line-height: 18px;
		text-align: center;
	}
	.promotions__guide-item-text ul,
	.promotions__guide-item-text li {
		font-size: 14px;
		line-height: 22px;
	}
	.promotions__guide-item-text p {
		font-size: 14px;
		line-height: 22px;
	}


	/* PROMOTIONS QUANITITY */
	.promotions__quanitity {
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 26px;
	}
}
@media (max-width: 767px) {
	/* PROMOTIONS */
	.promotions {
		border-bottom: none;
	}
	.promotions .row > div:nth-child(even) .promotions__item {
		border-left: none;
	}
	.promotions .row > div:first-child .promotions__item,
	.promotions .row > div:first-child + div .promotions__item {
		border-bottom: none;
	}
}
@media (max-width: 575px) {
	
}