@charset "utf-8";

* {
  outline: 0 !important;
}
img {
    vertical-align: bottom; 
    border: 0;
}
html,
body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #231f20;
}
a {
    color: #57c7d9;
    text-decoration: none;
}
a:hover,
a:focus,
a:active {
    color: #57c7d9;
    text-decoration: none;
}
p {
    margin-bottom: 30px;
}
.container-fluid,
.container,
.row {
    height: 100%;
}
.container-fluid-b {
    max-width: 1800px;
}
.container-fluid-m {
    max-width: 1600px;
}
.container-fluid-s {
    max-width: 1400px;
}
.container-fluid-xs {
    max-width: 1200px;
}
.row-no-height {
    height: auto;
}



/* lib */
.lib__header-content {
	margin-bottom: 60px;
}
h2.lib__header {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #231f20;
    text-transform: uppercase;
}
h3.lib__header {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #231f20;
    text-transform: uppercase;
}
h4.lib__header {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #231f20;
    text-transform: uppercase;
}



/* mobile menu */
.mobile-menu__fog {
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}
.mobile-menu__trigger {
    display: inline-block;
	padding: 10px 0;
    line-height: 0;
    cursor: pointer;
}
.mobile-menu {
    display: none;
    width: 100%;
    padding: 10px 0 30px 0;
    background: #fff;
    -webkit-box-shadow: 0 7px 13px 0 rgba(199, 199, 199, 0.5);
    box-shadow: 0 7px 13px 0 rgba(199, 199, 199, 0.5);
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 100;
}
.mobile-menu .topping__nav-dropdown-wrap {
    display: none;
    width: 100%;
    padding: 0 0 0 15px;
    position: static;
    overflow: visible;
}
.mobile-menu .topping__nav-dropdown {
    -webkit-box-shadow: none;
    box-shadow: none;
    position: static;
}
.mobile-menu .topping__nav-name {
    padding-left: 15px;
}
.mobile-menu .topping__nav-item--active .topping__nav-name {
    padding-bottom: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #cc2527;
}
.mobile-menu .topping__nav-item--drop:after {
    top: 14px;
}
.mobile-menu__user {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 16px;
    line-height: 16px;
    color: #231f20;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.mobile-menu__user-ico {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    padding-top: 7px;
    background: #57c7d9;
    border-radius: 50%;
}
.mobile-menu__user-ico svg g {
    fill: #fff;
}
.mobile-menu__logout {
    margin-left: 15px;
    font-size: 16px;
    line-height: 16px;
    color: #a1a3a6;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.mobile-menu__logout svg {
    margin-right: 10px;
}
.mobile-menu__logout svg g {
    fill: #a1a3a6;
}

@media (min-width: 992px) {
    .mobile-menu__fog {
        display: none !important;
        opacity: 0 !important;
    }
    .mobile-menu {
        display: none !important;
    }
}



/* proauto */
.proauto {
    min-height: 100vh;
    height: 1px;
}


/* topping */
.topping {
    background: #fff;
    border-bottom: 1px solid #a1a3a6;
    position: relative;
    z-index: 1100;
}

/* topping line top */
.topping__line-top {
    padding: 10px 0;
    border-bottom: 1px solid #ebebeb;
}
.topping__logo {
    display: inline-block;
    margin-right: 50px;
}
.topping__info-block svg {
    margin-right: 10px;
}
.topping__info-canada {
    margin-right: 10px;
    font-size: 14px;
    line-height: 14px;
}
.topping__info-phone {
    font-size: 14px;
    line-height: 14px;
}
.topping__info-phone a {
    color: #808184;
}
.topping__search,
.topping__user,
.topping__cart {
    display: inline-block;
    margin-left: 10px;
    position: relative;
}
.topping__search svg g,
.topping__user svg g,
.topping__cart svg g {
    fill: #000;
}
.topping__search:hover svg g,
.topping__user:hover svg g,
.topping__cart:hover svg g {
    fill: #57c7d9;
}
.topping__ico-amount {
    display: block;
    min-width: 16px;
    height: 16px;
    padding: 0 2px;
    background: #cc2527;
    border-radius: 8px;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    position: absolute;
    right: -8px;
    top: -8px;
}

/* topping line bottom */
.topping__line-bottom {
    padding: 10px 0;
}
.topping__nav-item--drop {
    position: relative;
}
.topping__nav-item--drop:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-top: 6px solid #cc2527;
    border-right: 4px solid transparent;
    border-bottom: none;
    position: absolute;
    right: 15px;
    top: 19px;
    z-index: 5;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.topping__nav-item--active:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.topping__nav-name {
    display: block;
    padding: 15px 30px 15px 20px;
    background: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #231f20;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.topping__nav-item--active .topping__nav-name {
    -webkit-box-shadow: 0 7px 13px 0 rgba(199, 199, 199, 0.5);
    box-shadow: 0 7px 13px 0 rgba(199, 199, 199, 0.5);
    z-index: 2;
}
.topping__nav-dropdown-wrap {
    display: none;
    width: 260px;
    padding: 0 15px 15px 15px;
    position: absolute;
    left: -15px;
    top: 100%;
    z-index: 3;
    overflow: hidden;
}
.topping__nav-dropdown {
    padding: 0 20px;
    background: #fff;
    -webkit-box-shadow: 0 7px 13px 0 rgba(199, 199, 199, 0.5);
    box-shadow: 0 7px 13px 0 rgba(199, 199, 199, 0.5);
    position: relative;
    z-index: 3;
}
.topping__nav-dropdown-block {
    padding: 5px 0;
}
.topping__nav-dropdown-block + .topping__nav-dropdown-block {
    border-top: 1px solid #f0f0f0;
}
.topping__nav-dropdown-link {
    height: 38px;
    margin: 0 -20px;
    padding: 0 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #231f20;
}
.topping__nav-dropdown-link:hover {
    background: #57c7d9;
    color: #fff;
}

/* topping line info */
.topping__line-info {
    padding-left: 75px;
    background: #cc2527;
}
.topping__line-info-content {
    height: 38px;
    overflow: hidden;
}
.topping__line-info-item {
    white-space: nowrap;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
.topping__line-info-item + .topping__line-info-item {
    margin-left: 30px;
}
.topping__line-info-item-header {
    margin-right: 10px;
    font-weight: 700;
}



/* footer */
.footer {
    padding-top: 80px;
}

/* footer line top */
.footer__line-top {
    padding: 40px 0;
    background: #f6f9fd;
}
.footer__logo {
    display: inline-block;
    max-width: 160px;
}
.footer__block-header {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
}
.footer__block-link {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 16px;
    color: #0d0d0d;
}
.footer__subscribe {
    margin-bottom: 40px;
}
.footer__subscribe-text {
    margin-bottom: 15px;
	font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}
.footer__subscribe-input {
    width: 360px;
    height: 50px;
    padding: 0 15px;
    background: #e9ecf2;
    border: none;
    font-size: 18px;
    line-height: 18px;
    color: #231f20;
}
.footer__subscribe-button {
    width: 200px;
    height: 50px;
    background: #57c7d9;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    cursor: pointer;
}
.footer__soc-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
}
.footer__soc-item {
    display: inline-block;
    margin-left: 30px;
    line-height: 0;
}
.footer__soc-item:hover svg * {
    fill: #57c7d9;
}

/* footer line bottom */
.footer__line-bottom {
    padding: 10px 0;
    background: #8f959b;
}
.footer__copyright {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #f6f9fd;
}
.footer__payment {
    margin: 5px 0;
}
.footer__payment-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.3px;
    color: #f6f9fd;
    text-transform: uppercase;
}
.footer__payment-item {
    display: inline-block;
    margin-left: 10px;
}
.footer__delivery {
    margin: 5px 0;
}
.footer__delivery-text {
    margin-left: 50px;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.3px;
    color: #f6f9fd;
    text-transform: uppercase;
}
.footer__delivery-item {
    display: inline-block;
    margin-left: 15px;
}



/* top brands */
.top-brands {
    padding-top: 80px;
}

.top-brands__header {
    width: 280px;
    margin-right: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    position: relative;
}
.top-brands__header:before {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background: #cc2527;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -2px;
}
.swiper-container--top-brands {
    width: calc(100% - 310px);
    padding: 0 40px;
}
.swiper-button-prev--top-brands,
.swiper-button-next--top-brands {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    background: none;
    z-index: 3;
}
.swiper-button-prev--top-brands {
    left: 0;
}
.swiper-button-next--top-brands {
    right: 0;
}
.swiper-button-prev-rect--top-brands {
    fill: #8f959b;
}
.swiper-button-prev--top-brands:hover .swiper-button-prev-rect--top-brands,
.swiper-button-next--top-brands:hover .swiper-button-prev-rect--top-brands {
    fill: #57c7d9;
}
.swiper-button-prev-polygon--top-brands {
    fill: #fff;
}



/* Z-TOP */
.z-top {
    height: 360px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.z-top nav {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.z-top__content {
    height: 100%;
    padding-top: 60px;
}
.z-top__header {
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    color: #231f20;
    text-transform: uppercase;
}
.z-top__text {
    margin-top: 10px;
    font-size: 18px;
    line-height: 28px;
}
.breadcrumb {
    padding: 15px 0;
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    font-size: 14px;
    line-height: 16px;
}
.breadcrumb-item.active {
    color: #bebebe;
}
.breadcrumb-item + .breadcrumb-item:before {
    content: ">";
    color: #bebebe;
}



/* catalog item */
.catalog-page__content > .row > div {
    padding-bottom: 30px;
}
.catalog-page__item {
    height: 100%;
    padding: 20px 20px 0 20px;
    background: #fff;
    border: 1px solid #eff0f1;
}
.catalog-page__item-img {
    height: 250px;
    margin-bottom: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.catalog-page__item-link {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #231f20;
}
.catalog-page__item-model {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 14px;
    color: #808184;
}
.catalog-page__item-table {
    margin-bottom: 30px;
}
.catalog-page__item-table-tr + .catalog-page__item-table-tr {
    margin-top: 10px;
}
.catalog-page__item-table-tr span {
    display: block;
}
.catalog-page__item-table-tr span:first-child {
    width: 70px;
    font-size: 16px;
    line-height: 16px;
    color: #9c9ea1;
}
.catalog-page__item-table-tr span:first-child + span {
    font-size: 16px;
    line-height: 16px;
}
.catalog-page__item-bottom {
    height: 64px;
    margin: 0 -20px;
}
.catalog-page__item-price {
    height: 100%;
    padding: 0 20px;
    background: #f3f6f7;
}
.catalog-page__item-price-text {
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 13px;
    color: #808184;
}
.catalog-page__item-price-text-info {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    margin-bottom: 2px;
    background: #a1a1a1;
    border-radius: 7px;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.catalog-page__item-price-amount {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
}
.catalog-page__item-button {
    display: block;
    height: 100%;
    background: #57c7d9;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
}
.catalog-page__item-button:hover,
.catalog-page__item-button:active,
.catalog-page__item-button:focus {
    background: #57c7d9;
    color: #fff;
}



/* checkbox */
.catalog-page__menu-item-input {
    display: none;
}
.catalog-page__menu-item-label {
    display: inline-block;
    padding-left: 28px;
    font-size: 16px;
    line-height: 18px;
    position: relative;
    cursor: pointer;
}
.catalog-page__menu-item-label span {
    display: block;
    width: 18px;
    height: 18px;
    background: #fff;
    border: 1px solid #a1a3a6;
    position: absolute;
    left: 0;
    top: 0;
}
.catalog-page__menu-item-label span svg {
    opacity: 0;
    fill: #fff;
}
.catalog-page__menu-item-input:checked + .catalog-page__menu-item-label span {
    border: 1px solid #cc2527;
    background: #cc2527;
}
.catalog-page__menu-item-input:checked + .catalog-page__menu-item-label span svg {
    opacity: 1;
}



/* also want */
.also-want {
    padding-top: 80px;
    padding-bottom: 60px;
    background: #f2f4f4;
}
.also-want__item {
    display: block;
    margin-bottom: 30px;
}
.also-want__item-img {
    height: 180px;
    margin-bottom: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.also-want__item-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #231f20;
}
.also-want__item:hover .also-want__item-text {
    color: #57c7d9;
}
.swiper-pagination--also-want {
    position: static;
}
.swiper-pagination-bullets.swiper-pagination--also-want .swiper-pagination-bullet {
    margin: 0 6px;
}
.swiper-pagination--also-want .swiper-pagination-bullet-active {
    background: #57c7d9;
}



/* tooltip */
.tooltip--price-text.show {
    opacity: 1;
}
.tooltip--price-text .tooltip-inner {
    max-width: 280px;
    padding: 10px 15px;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.07), 0 3px 2px 0 rgba(0, 0, 0, 0.01);
    border-radius: 0;
    border-left: 3px solid #ff0003;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #808184;
    text-align: left;
}
.tooltip--price-text .tooltip-inner b {
    display: block;
    font-weight: 700;
    color: #2b2a28;
}
.bs-tooltip-top .arrow::before, 
.bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #fff;
}



@media (max-width: 1679px) {
    
}
@media (max-width: 1479px) {
    /* footer line top */
    .footer__subscribe-input {
        width: 260px;
    }
    
    /* footer line bottom */
    .footer__delivery-text {
        margin-left: 0;
    }
}
@media (max-width: 1199px) {
    /* footer line top */
    .footer__logo {
        margin-bottom: 40px;
    }
    .footer__block {
        margin-bottom: 40px;
    }
    .footer__subscribe-input {
        width: 360px;
    }
}
@media (max-width: 991px) {
    /* topping line top */
    .topping__line-top {
        padding: 0;
    }
    .topping__logo {
	    width: 120px;
        margin-right: 0;
        padding: 10px 0;
    }
    .topping__info-block {
        margin: 0 -15px;
        padding: 10px 15px;
        background: #f6f9fd;
        border: solid 1px #ebebeb;
    }
    .topping__info-canada {
        margin-right: 0;
    }
    .topping__search, 
    .topping__user, 
    .topping__cart {
        margin-left: 0;
    }
    .topping__cart {
        margin-right: 5px;
    }
    
    /* topping line info */
    .topping__line-info {
        padding-left: 15px;
    }
    
    
    
    /* footer line top */
    .footer__logo {
        margin-bottom: 30px;
    }
    .footer__subscribe {
        margin-bottom: 20px;
    }
    .footer__subscribe-text {
        font-size: 14px;
        line-height: 20px;
    }
    
    /* footer line bottom */
    .footer__line-bottom {
        padding: 30px 0 20px 0;
    }
    .footer__payment {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .footer__payment-text {
        width: 100%;
        margin-bottom: 15px;
    }
    .footer__payment-item {
        margin-left: 4px;
        margin-right: 4px;
    }
    .footer__delivery {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .footer__delivery-text {
        width: 100%;
        margin-bottom: 15px;
    }
    .footer__delivery-item {
        margin-left: 15px;
        margin-right: 15px;
    }
    .footer__copyright {
        font-size: 14px;
        line-height: 22px;
    }
    

    /* top brands */
    .top-brands__header {
        margin-right: 0;
    }
    .swiper-container--top-brands {
        width: 100%;
    }


    /* Z-TOP */
    .z-top {
        height: auto;
        background-image: none !important;
        background-color: #f6f9fd;
    }
    .z-top__content {
        padding-top: 70px;
        padding-bottom: 40px;
    }
    .z-top__header {
        font-size: 30px;
        line-height: 36px;
    }
    .bredcrumb {
        font-size: 12px;
        line-height: 14px;
    }


    /* also want */
    .also-want {
        padding-top: 40px;
        padding-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .breadcrumb {
        font-size: 12px;
        line-height: 14px;
    }

    /* lib */
    .lib__header-content {
        margin-bottom: 40px;
    }
    h2.lib__header {
        font-size: 28px;
        line-height: 38px;
    }
    h3.lib__header {
        font-size: 22px;
        line-height: 42px;
    }
    
    
    /* footer */
    .footer {
	    padding-top: 50px;
    }
    
    /* footer line top */
    .footer__subscribe-input {
        width: calc(100% - 110px);
        font-size: 16px;
        line-height: 16px;
    }
    .footer__subscribe-button {
        width: 110px;
        font-size: 16px;
        line-height: 16px;
    }
    
    
    /* top brands */
    .top-brands {
        padding-top: 30px;
    }
}
@media (max-width: 575px) {
    /* topping line top */
    .topping__info-phone {
        font-size: 12px;
        line-height: 12px;
    }
    .topping__info-canada {
        font-size: 12px;
        line-height: 12px;
    }
    
    
    /* top brands */
    .top-brands__header {
        width: 220px;
        font-size: 18px;
        line-height: 18px;
    }
    .swiper-container--top-brands {
        padding: 20px 0 60px 0;
    }
    .swiper-button-prev--top-brands,
    .swiper-button-next--top-brands {
        margin-top: 0;
        top: auto;
        bottom: 0;
    }
    .swiper-button-prev--top-brands {
        left: auto;
        right: calc(50% + 20px);
    }
    .swiper-button-next--top-brands {
        right: auto;
        left: calc(50% + 20px);
    }
}







/* INDEX */

/* swiper main */
.swiper__main {
    height: 660px;
    background: #F6F9FE;
}
.swiper-container--main {
    height: 100%;
}
.swiper-container--main .swiper-wrapper {
    z-index: 1;
}
.swiper__main-item {
    height: 100%;
    position: relative;
}
.swiper__main-item-img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
}
.swiper__main-item-content {
    height: 100%;
    padding-bottom: 120px;
}
.swiper__main-item-header {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    text-transform: uppercase;
}
.swiper__main-item-subheader {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 24px;
}
.swiper__main-item-text {
    font-size: 18px;
    line-height: 30px;
}
.swiper-button-prev--main,
.swiper-button-next--main {
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background: none;
    z-index: 3;
}
.swiper-button-prev--main {
    left: 0;
}
.swiper-button-next--main {
    right: 0;
}
.swiper-button-prev-rect {
    fill: #fff;
}
.swiper-button-prev-polygon {
    fill: #000;
}
.swiper__main-advan {
    width: 100%;
    height: 135px;
    padding-top: 15px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    overflow: hidden;
}
.swiper__main-advan > .row {
    margin: 0 -10px;
}
.swiper__main-advan-item {
    height: 100%;
    margin: 0 10px;
    padding: 10px;
    background: #fff;
    -webkit-box-shadow: 0 -4px 15px 0 rgba(0, 0, 0, 0.03);
    box-shadow: 0 -4px 15px 0 rgba(0, 0, 0, 0.03);
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.swiper__main-advan-item img {
    margin-right: 10px;
}



/* search filter */
.search-filter__trigger {
    width: 220px;
    height: 60px;
    background: #9c9ea1;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    position: relative;
}
.search-filter__trigger:after {
    content: "";
    display: none;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-top: 6px solid #fff;
    border-right: 4px solid transparent;
    border-bottom: none;
    position: absolute;
    right: 20px;
    top: 27px;
    z-index: 5;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.search-filter__trigger--active:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.search-filter__trigger svg {
    margin-right: 10px;
}
.select2-container--filter .select2-selection {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
    -ms-flex-align: center !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    height: 60px;
    padding: 0 10px 0 20px;
    background: #505357;
    border-right: 1px solid #74777c;
    position: relative;
}
.select2-container--filter .select2-selection .select2-selection__rendered {
    width: calc(100% - 30px);
    margin-right: 15px;
    padding: 0;
    font-size: 18px;
    line-height: 18px;
    color: #ebebeb;
}
.select2-container--filter .select2-selection__arrow {
    position: relative;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.select2-container--filter .select2-selection__arrow:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-top: 6px solid #57c7d9;
    border-right: 4px solid transparent;
    border-bottom: none;
    position: absolute;
    left: -4px;
    top: -3px;
    z-index: 5;
}
.select2-container--filter .select2-selection__arrow b {
    display: none;
}
.select2-container--filter.select2-container--open .select2-selection__arrow {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.select2-container--filter .select2-dropdown {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0 7px 13px 0 rgba(199, 199, 199, 0.5);
    box-shadow: 0 7px 13px 0 rgba(199, 199, 199, 0.5);
}
.select2-container--filter .select2-results {
    padding: 10px 0;
}
.select2-container--filter .select2-results__options {
    max-height: 185px;
    padding-right: 7px;
}
.select2-container--filter .select2-results__option {
    padding: 5px 5px 5px 20px;
}
.select2-container--filter .select2-results__option--highlighted {
    background: #57c7d9;
    color: #fff;
}
.search-filter__cntrl-search {
    height: 60px;
    width: 220px;
    background: #cc2527;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    cursor: pointer;
}
.search-filter__cntrl-search svg {
    margin-right: 10px;
}
.search-filter__cntrl-search svg g {
    fill: #fff;
}
.search-filter__cntrl-clear {
    height: 60px;
    width: 160px;
    background: #f4f7fa;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #808184;
    cursor: pointer;
}
.search-filter__cntrl-clear svg {
    margin-right: 10px;
}
.search-filter__cntrl-clear svg g {
    fill: #808184;
}

@media (min-width: 1200px) {
    .search-filter__trigger-object {
        display: block !important;
    }
}



/* linear solution */
.linear-sol {
    padding-top: 140px;
}
.linear-sol__item {
    display: block;
    margin-bottom: 40px;
    position: relative;
}
.linear-sol__item-img {
    height: 340px;
    margin-bottom: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
}
.linear-sol__item-text {
    opacity: 1;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    color: #000;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.linear-sol__item-hide {
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(88,199,218,0.75);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.linear-sol__item-hide-link {
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    color: #fff;
    text-decoration: underline;
}
.linear-sol__item-hide-link:hover,
.linear-sol__item-hide-link:active,
.linear-sol__item-hide-link:focus {
    color: #fff;
}
.linear-sol__item:hover .linear-sol__item-text {
    opacity: 0;
}
.linear-sol__item:hover .linear-sol__item-hide {
    opacity: 1;
}



/* home solution */
.home-sol {
    padding-top: 140px;
}
.home-sol__content-top-item {
    display: block;
    margin-bottom: 40px;
}
.home-sol__content-top-item-img {
    margin-bottom: 25px;
}
.home-sol__content-top-item-text {
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    color: #000;
}



/* chess */
.chess {
    padding-top: 100px;
}
.chess__item {
    min-height: 560px;
    background-repeat: no-repeat;
    background-size: 50% auto;
}
.chess__item > .container-fluid,
.chess__item > .container-fluid > .row {
    min-height: 560px;
}
.chess__item--left-img {
    background-position: center left;
}
.chess__item--right-img {
    background-position: center right;
}
.chess__item-wrap {
    max-width: 560px;
    margin: 0 auto;
}
.chess__item-header {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    text-transform: uppercase;
}
.chess__item-text {
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.chess__item-more {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}
.chess__item-more span {
    font-size: 26px;
    line-height: 6px;
}



@media (max-width: 1679px) {
    /* swiper main */
    .swiper__main-item {
        padding: 0 50px;
    }
}
@media (max-width: 1479px) {
    
}
@media (max-width: 1199px) {
    /* search filter */
    .search-filter__trigger {
        width: 100%;
        padding-left: 20px;
        cursor: pointer;
    }
    .search-filter__trigger:after {
        display: block;
    }
    .search-filter__trigger-object {
        display: none;
    }
    .search-filter__cntrl-search {
        width: 100%;
    }
    .search-filter__cntrl-clear {
        width: 100%;
    }
    
    
    /* swiper main */
    .swiper__main {
        height: auto;
        padding-top: 30px;
    }
    .swiper-container--main {
        padding-bottom: 140px;
    }
    .swiper__main-item {
        padding: 0;
    }
    .swiper__main-item-img {
        width: 100%;
        height: 100%;
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: auto 200px;
        position: absolute;
        left: 0;
        top: 0;
    }
    .swiper__main-item-content {
        height: 100%;
        padding-bottom: 220px;
    }
    .swiper__main-item-header {
        margin-bottom: 20px;
        font-size: 36px;
        line-height: 46px;
    }
    .swiper__main-item-subheader {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 18px;
    }
    .swiper__main-item-text {
        font-size: 14px;
        line-height: 24px;
    }
    .swiper-button-prev--main,
    .swiper-button-next--main {
        width: 40px;
        height: 40px;
        margin-top: -10px;
    }
    .swiper-button-prev--main svg,
    .swiper-button-next--main svg {
        width: 40px;
        height: 40px;
    }
    .swiper__main-advan {
        height: 140px;
        padding-top: 0;
    }
    .swiper__main-advan > .row {
        margin: 0;
    }
    .swiper__main-advan-item {
        height: 70px;
        margin: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 12px;
        line-height: 16px;
    }
    .swiper__main-advan-item img {
        max-width: 40px;
    }


    /* linear solution */
    .linear-sol__item-img {
        height: 240px;
    }
    
    
    /* chess */
    .chess__item {
        min-height: 0;
        margin-bottom: 50px;
        background-image: none !important;
    }
    .chess__item > .container-fluid,
    .chess__item > .container-fluid > .row {
        min-height: 0;
    }
    .chess__item-header {
        margin-top: 20px;
    }
}
@media (max-width: 991px) {
    /* search filter */
    .select2-container--filter .select2-selection {
        border-right: none;
        border-bottom: 1px solid #74777c;
    }
}
@media (max-width: 767px) {
    /* linear solution */
    .linear-sol {
        padding-top: 60px;
    }
    .linear-sol__item {
        margin-bottom: 30px;
    }
    .linear-sol__item-text {
        font-size: 20px;
        line-height: 28px;
    }
    
    
    /* home solutions */
    .home-sol {
        padding-top: 60px;
    }
    .home-sol__content-top-item-text {
        font-size: 24px;
        line-height: 34px;
    }
    
    
    /* chess */
    .chess {
        padding-top: 40px;
    }
    .chess__item-header {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 34px;
    }
    .chess__item-text {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 24px;
    }
}
@media (max-width: 575px) {
     /* swiper main */
    .swiper__main-item-img {
        background-position: bottom right;
    }


    /* linear solution */
    .linear-sol__item-img {
        height: 140px;
    }
}









/* CATALOG */
.catalog-page {
    padding-top: 60px;
    padding-bottom: 80px;
}
.catalog-page__top-line {
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eff0f1;
}
.catalog-page__top-line-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
}
.catalog-page__top-line-amount {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}
.catalog-page__top-line-amount span {
    margin-right: 5px;
    color: #cc2527;
}

.catalog-page__wrap-left {
    width: 420px;
}
.catalog-page__menu {
    width: 260px;
}
.catalog-page__menu-item {
    margin-bottom: 5px;
}
.catalog-page__menu-item-content {
    display: none;
    padding: 20px 0 30px 0;
}
.catalog-page__menu-item-line {
    padding: 0 10px;
}
.catalog-page__menu-item-trigger {
    height: 48px;
    padding: 0 10px;
    background: #f4f7fa;
    border-bottom: 1px solid #bfc2c6;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
}
.catalog-page__menu-item-trigger:after {
    content: "";
    display: block;
    width: 11px;
    height: 8px;
    margin-top: 2px;
    background: url('img/select-arrow.svg') center center no-repeat;
    transition: all 0.4s ease;
}
.catalog-page__menu-item-trigger--active:after {
    transform: rotate(180deg);
}

.normal-chess {
    padding-top: 120px;
}
.normal-chess__line + .normal-chess__line {
    margin-top: 80px;
}
.normal-chess__header {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
}
.normal-chess__content {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 26px;
}
.normal-chess__content p {
    margin-bottom: 0;
}
.normal-chess__content p + p {
    margin-top: 20px;
}
.normal-chess__video {
    display: inline-block;
    position: relative;
}
.normal-chess__video:after {
    content: "";
    display: block;
    width: 86px;
    height: 66px;
    background: url('img/play-icon.svg') center center no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -33px 0 0 -43px;
    z-index: 2;
}
.normal-chess__video img {
    position: relative;
    z-index: 1;
}



@media (max-width: 1679px) {
    
}
@media (max-width: 1479px) {
    .catalog-page__wrap-left {
        width: 100%;
    }
}
@media (max-width: 1199px) {
    
}
@media (max-width: 991px) {
    .catalog-page__menu-item {
        margin: 0 -15px;
    }
    .catalog-page__menu-item-trigger {
        padding: 0 15px;
    }
    .catalog-page__menu-item-line {
        padding: 0 15px;
    }

    .catalog-page {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .catalog-page__top-line {
        margin-bottom: 0;
        padding-bottom: 15px;
        border-bottom: none;
    }
    .catalog-page__menu {
        width: 100%;
        margin-bottom: 30px;
    }
    .catalog-page__content > .row > div:first-child {
        padding-bottom: 15px;
    }

    .normal-chess {
        padding-top: 60px;
    }
    .normal-chess__line + .normal-chess__line {
        margin-top: 40px;
    }
    .normal-chess__img {
        margin-bottom: 30px;
    }
    .normal-chess__header {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 34px;
    }
    .normal-chess__content {
        font-size: 14px;
        line-height: 20px;
    }
}
@media (max-width: 767px) {
    
}
@media (max-width: 575px) {
    
}









/* CATALOG ITEM */
.catalog-item {
    padding-top: 15px;
    padding-bottom: 120px;
}
.catalog-item__left {
    padding-top: 50px;
    position: relative;
}
.catalog-item__abs-block {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.catalog-item__badge {
    display: inline-block;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
}
.catalog-item__badge--green {
    background: #6adb92;
}

.catalog-item__ships {
    font-size: 14px;
    line-height: 14px;
    color: #000;
}
.catalog-item__ships img {
    margin-right: 10px;
}

.catalog-item__soc {
    padding-top: 30px;
}
.catalog-item__soc-item {
    display: block;
    margin-bottom: 20px;
}


.product__thumbs {
    width: 860px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.swiper-container--product-img {
    margin-bottom: 40px;
}
.product__item {
    height: 500px;
}
.product__item-img {
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.swiper-thumbs__wrap {
    position: relative;
}
.swiper-container--product-img-thumbs {
    width: calc(100% - 60px);
    margin: 0 auto;
}
.product__thumb-item {
    height: 90px;
    cursor: pointer;
}
.product__thumb-item-img {
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.product__thumb-item-img:after {
    opacity: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(87,199,217,0.5);
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.product__thumb-item-img--active:after {
    opacity: 1;
}
.swiper-button-prev--product-img-thumbs,
.swiper-button-next--product-img-thumbs {
    width: 13px;
    height: 22px;
    line-height: 0;
    position: absolute;
    top: 50%;
    bottom: auto;
    margin-top: -11px;
    cursor: pointer;
}
.swiper-button-prev--product-img-thumbs {
    left: 0;
    right: auto;
}
.swiper-button-next--product-img-thumbs {
    right: 0;
    left: auto;
}
.swiper-button-prev--product-img-thumbs.swiper-button-disabled,
.swiper-button-next--product-img-thumbs.swiper-button-disabled {
    opacity: 0.25;
    cursor: default;
}



.catalog-item__right {
    width: 560px;
    height: 100%;
}
.catalog-item__info {
    height: 100%;
    padding: 25px 30px 30px 30px;
    background: #fff;
    border: 1px solid #ebebeb;
}

.catalog-item__info-line1 {
    margin: 0 -30px;
    padding: 0 30px 25px 30px;
    border-bottom: 1px solid #ebebeb;
}
.catalog-item__info-header {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
}
.catalog-item__info-model {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #808184;
}

.catalog-item__info-line2 {
    margin: 0 -30px;
    padding: 25px 30px;
    border-bottom: 1px solid #ebebeb;
}
.catalog-item__info-price-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
}
.catalog-item__info-price-amount {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #d71016;
}

.catalog-item__info-line3 {
    margin: 0 -30px;
}
.catalog-item__info-table-header {
    padding: 10px 30px;
    border-bottom: 1px solid #ebebeb;
    font-size: 14px;
    line-height: 14px;
    color: #808184;
}
.catalog-item__info-table-content > .row > div:first-child {
    border-right: 1px solid #ebebeb;
}
.catalog-item__info-table-td {
    padding: 10px 30px;
    border-bottom: 1px solid #ebebeb;
    font-size: 14px;
    line-height: 14px;
}
.catalog-item__info-table-td:nth-child(odd) {
    background: #f8f8f9;
}
.catalog-item__info-table-td-left {
    color: #9c9ea1;
}
.catalog-item__info-table-td a {
    text-decoration: underline;
}

.catalog-item__info-line4 {
    padding-top: 25px;
}
.catalog-item__info-filter-block {
    margin-bottom: 15px;
}
.catalog-item__info-filter-header {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 16px;
    color: #000;
}
.catalog-item__info-filter-header span {
    color: #cc2527;
}

.catalog-item__info-submit {
    height: 64px;
    background: #cc2527;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
}
.catalog-item__info-submit:hover,
.catalog-item__info-submit:focus,
.catalog-item__info-submit:active {
    color: #fff;
}

.select2-container--product .select2-selection {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
    -ms-flex-align: center !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    height: 48px;
    padding: 0 10px 0 15px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    position: relative;
}
.select2-container--product .select2-selection .select2-selection__rendered {
    width: calc(100% - 30px);
    margin-right: 25px;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #808184;
}
.select2-container--product .select2-selection__arrow {
    position: relative;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.select2-container--product .select2-selection__arrow:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-top: 6px solid #cc2527;
    border-right: 4px solid transparent;
    border-bottom: none;
    position: absolute;
    left: -4px;
    top: -3px;
    z-index: 5;
}
.select2-container--product .select2-selection__arrow b {
    display: none;
}
.select2-container--product.select2-container--open .select2-selection__arrow {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.select2-container--product .select2-dropdown {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0 7px 13px 0 rgba(199, 199, 199, 0.5);
    box-shadow: 0 7px 13px 0 rgba(199, 199, 199, 0.5);
}
.select2-container--product .select2-results {
    padding: 10px 0;
}
.select2-container--product .select2-results__options {
    max-height: 185px;
}
.select2-container--product .select2-results__option {
    padding: 5px 5px 5px 15px;
}
.select2-container--product .select2-results__option--highlighted {
    background: #57c7d9;
    color: #fff;
}

.one-dish__moreless {
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    max-width: 100px;
    height: 48px;
    border: 1px solid #dfdfdf;
}
.one-dish__more,
.one-dish__moreless-input,
.one-dish__less {
    height: 100%;
    font-size: 14px;
    line-height: 14px;
    color: #808184;
}
.one-dish__more,
.one-dish__less {
    width: 24px;
    background: #f2f4f4;
    cursor: pointer;
}
.one-dish__moreless-input {
    width: 100%;
    background: #fafafa;
    border: none;
}

.catalog-info {
    padding-bottom: 120px;
}
.tabs {
    position: relative;
}
.tabs__button:first-child:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #2b2a28;
    position: absolute;
    left: 0;
    top: 50px;
}
.tabs__button {
    height: 50px;
    padding: 0 50px;
    border-top: 1px solid #2b2a28;
    border-right: 1px solid #2b2a28;
    font-size: 18px;
    line-height: 22px;
    color: #231f20;
    cursor: pointer;
}
.tabs__button:first-child {
    border-left: 1px solid #2b2a28;
}
.tabs__button--active {
    background: #231f20;
    color: #fff;
    cursor: default;
}
.tabs__item {
    display: none;
    width: 100%;
}
.tabs__button:first-child + .tabs__item {
    display: block;
}

.catalog-info__item-left {
    padding-right: 120px;
}
.catalog-info__item-block + .catalog-info__item-block{
    margin-top: 40px;
}
.catalog-info__item {
    padding-top: 60px;
}
.catalog-info__item-header {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}
.catalog-info__item-text {
    font-size: 16px;
    line-height: 26px;
}
.catalog-info__item-text p {
    margin-bottom: 20px;
}
.catalog-info__item-text a {
    color: #4296b7;
}
.catalog-info__item-text a:hover,
.catalog-info__item-text a:active,
.catalog-info__item-text a:focus {
    color: #57c7d9;
    text-decoration: underline;
}

.catalog-info__table-row {
    padding: 10px;
}
.catalog-info__table-row:nth-child(odd) {
    background: #f8f8f9;
}
.catalog-info__table-row-td {
    vertical-align: top;
}
.catalog-info__table-row-td:first-child {
    width: 45%;
    padding-right: 10px;
    font-size: 16px;
    line-height: 20px;
    color: #9c9ea1;
}
.catalog-info__table-row-td:first-child + .catalog-info__table-row-td {
    width: 55%;
    font-size: 16px;
    line-height: 20px;
    color: #231f20;
}


.recently-viewed {
    padding-bottom: 120px;
}
.recently-viewed__item {
    padding-top: 60px;
}
.recently-viewed__item .catalog-page__item {
    padding: 0;
    border: none;
}
.recently-viewed__item .catalog-page__item .catalog-page__item-price {
    padding: 0;
    background: none;
}
.swiper-pagination--recently1,
.swiper-pagination--recently2 {
    display: none !important;
    padding-top: 30px;
    position: static;
}
.swiper-pagination-bullets.swiper-pagination--recently1 .swiper-pagination-bullet,
.swiper-pagination-bullets.swiper-pagination--recently2 .swiper-pagination-bullet {
    margin: 0 6px;
}
.swiper-pagination--recently1 .swiper-pagination-bullet-active,
.swiper-pagination--recently2 .swiper-pagination-bullet-active {
    background: #57c7d9;
}







/* BLOG */

/* pagination */
.pro-auto__pagination {
    padding-top: 20px;
}
.pro-auto__pagination-button {
    display: block;
    min-width: 36px;
    margin: 0 10px;
    padding: 0 5px;
    border: 1px solid #dfdfdf;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    color: #000;
}
.pro-auto__pagination-button--prev,
.pro-auto__pagination-button--next {
    min-width: 76px;
}
.pro-auto__pagination-button--active,
.pro-auto__pagination-button--active:hover,
.pro-auto__pagination-button--active:focus,
.pro-auto__pagination-button--active:active {
    background: #cc2527;
    border: 1px solid #cc2527;
    color: #fff;
}


@media (max-width: 575px) {
    .pro-auto__pagination-button {
        margin: 0;
    }
    .pro-auto__pagination-button--prev,
    .pro-auto__pagination-button--next {
        margin-top: 20px;
    }
    .pro-auto__pagination-button--prev {
        margin-right: 10px;
    }
    .pro-auto__pagination-button--next {
        margin-left: 10px;
    }
}






@media (max-width: 1679px) {
    
}
@media (max-width: 1519px) {
    .recently-viewed {
        padding-bottom: 90px;
    }
    .swiper-pagination--recently1,
    .swiper-pagination--recently2 {
        display: block !important;
    }

    .product__thumbs {
        width: 600px;
    }
    .catalog-item__right {
        width: 500px;
    }


    .tabs__button {
        padding: 0 20px;
    }
}
@media (max-width: 1199px) {
    .catalog-item {
        padding-bottom: 40px;
    }
    .product__thumbs {
        width: 100%;
    }
    .catalog-item__left {
        margin-bottom: 30px;
    }
    .catalog-item__abs-block {
        padding-top: 30px;
        position: static;
    }
    .catalog-item__soc {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .catalog-item__soc-item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
    }
    .catalog-item__right {
        width: 100%;
    }
    .catalog-item__info {
        padding-top: 0;
    }
    .catalog-item__info-line1 {
        margin: 0;
        padding: 0;
        border: none;
    }
    .catalog-item__info-header {
        margin-bottom: 5px;
        font-size: 24px;
        line-height: 32px;
    }
    .catalog-item__info-line2 {
        padding: 15px 30px;
        background: #505357;
        color: #fff;
    }
    .catalog-item__info-price-amount {
        color: #fff;
    }
    .one-dish__moreless {
        max-width: 50%;
    }


    .catalog-info__item-left {
        margin-bottom: 40px;
        padding-right: 0;
    }


    .tabs__button {
        padding: 0 15px;
        font-size: 16px;
        line-height: 20px;
    }


    .catalog-info {
        padding-bottom: 40px;
    }


    .recently-viewed {
        padding-bottom: 60px;
    }
}
@media (max-width: 991px) {
    .catalog-item__left {
        padding-top: 0;
    }

    .tabs--wide {
        margin: 0 -15px;
    }
    .tabs--wide .tabs__button:first-child:after {
        display: none;
    }
    .tabs--wide .tabs__button {
        border-top: 1px solid #2b2a28;
        border-right: none;
        position: relative;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .tabs--wide .tabs__button:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-top: 6px solid #cc2527;
        border-right: 4px solid transparent;
        border-bottom: none;
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -2px;
        z-index: 5;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .tabs--wide .tabs__button--active {
        cursor: pointer;
    }
    .tabs--wide .tabs__button--active:before {
        border-top: 6px solid #fff;
        transform: rotate(180deg);
    }
    .tabs--wide .tabs__button:first-child {
        border-left: none;
    }
    .tabs__button--last {
        border-bottom: 1px solid #2b2a28;
    }
    .tabs--wide .tabs__item {
        padding: 0 15px 15px 15px;
    }
    .catalog-info__item {
        padding-top: 30px;
    }
    .catalog-info__table {
        margin: 0 -15px;
    }
    .catalog-info__table-row {
        padding: 10px 15px;
    }
    .catalog-info__item-text {
        font-size: 14px;
        line-height: 20px;
    }
    .catalog-info__table-row-td:first-child {
        font-size: 14px;
    }
    .catalog-info__table-row-td:first-child + .catalog-info__table-row-td {
        font-size: 14px;
    }


    .catalog-item__right {
        width: auto;
        margin: 0 -15px;
    }
    .catalog-item__info {
        padding-bottom: 15px;
    }
    .catalog-item__info-line2 {
        padding: 15px;
    }
    .catalog-item__info-table-header {
        padding: 15px;
    }
    .catalog-item__info-table-td {
        padding: 10px 15px;
    }
    .catalog-item__info-line4 {
        margin: 0 -30px;
        padding: 15px 15px 0 15px;
    }
    .catalog-item__info-submit {
        margin: 0 -15px;
    }
}
@media (max-width: 767px) {
    
}
@media (max-width: 575px) {
    .swiper-container--product-img {
        margin-bottom: 15px;
    }
    .product__item {
        height: 200px;
    }


    .tabs--two {
        margin: 0 -15px;
    }
    .tabs--two .tabs__button {
        width: 50%;
        padding: 0;
    }
    .tabs--two .tabs__item {
        padding: 0 15px;
    }
    .recently-viewed__item {
        padding-top: 15px;
    }
}